service: "hack-incidents"

provider:
  name: "aws"
  runtime: "python3.11"
  memorySize: 512
  timeout: 20
  iam:
    role: "arn:aws:iam::${env:AWS_USER_ID}:role/LabRole"

plugins:
  - "serverless-python-requirements"

functions:
  broadcast_incident_create:
    handler: "functions/websocket/broadcast_incident_create.handler"
    environment:
      "APIGW_DOMAIN": "${env:AWS_APIGW_DOMAIN}"
      "APIGW_STAGE": "${env:AWS_APIGW_STAGE}"
    events:
      - eventBridge:
          pattern:
            source: ["hack.incidents"]
            detail-type: ["incident.created"]

  broadcast_incident_status:
    handler: "functions/websocket/broadcast_incident_status.handler"
    environment:
      "APIGW_DOMAIN": "${env:AWS_APIGW_DOMAIN}"
      "APIGW_STAGE": "${env:AWS_APIGW_STAGE}"
    events:
      - eventBridge:
          pattern:
            source: ["hack.incidents"]
            detail-type: ["incident.status_updated"]

  get_incidents:
    handler: "functions/get_incidents.handler"
    events:
      - http:
          path: "/incidents"
          method: "get"
          cors: true

  get_incident:
    handler: "functions/get_incident.handler"
    events:
      - http:
          path: "/incidents/{incident_id}"
          method: "get"
          cors: true

  post_incident:
    handler: "functions/post_incident.handler"
    events:
      - http:
          path: "/incidents"
          method: "post"
          cors: true
          authorizer:
            arn: "${env:AWS_VERIFY_USER_ARN}"
            type: "request"
            identitySource: "method.request.header.Authorization"

  update_incident_status:
    handler: "functions/update_incident_status.handler"
    events:
      - http:
          path: "/incidents/{incident_id}/status"
          method: "patch"
          cors: true
          authorizer:
            arn: "${env:AWS_VERIFY_USER_ARN}"
            type: "request"
            identitySource: "method.request.header.Authorization"

  websocket_connect:
    handler: "functions/websocket/connect.handler"
    events:
      - websocket:
          route: "$connect"
          authorizer:
            arn: "${env:AWS_VERIFY_USER_ARN}"
            identitySource:
              - "route.request.header.Authorization"

  websocket_disconnect:
    handler: "functions/websocket/disconnect.handler"
    events:
      - websocket:
          route: "$disconnect"

  websocket_subscribe:
    handler: "functions/websocket/subscribe.handler"
    events:
      - websocket:
          route: "subscribe"
          routeResponseSelectionExpression: "$default"

  send_incident_notification:
    handler: "functions/sns/send_incident_notification.handler"
    environment:
      "AWS_INCIDENTS_TOPIC_ARN": "${env:AWS_INCIDENTS_TOPIC_ARN}"
    events:
      - eventBridge:
          pattern:
            source: ["hack.incidents"]
            detail-type: ["incident.created"]

  subscribe_email:
    handler: "functions/sns/subscribe_email.handler"
    environment:
      "AWS_INCIDENTS_TOPIC_ARN": "${env:AWS_INCIDENTS_TOPIC_ARN}"
    events:
      - http:
          path: "/subscribe/email"
          method: "post"
          cors: true

  subscribe_sms:
    handler: "functions/sns/subscribe_sms.handler"
    environment:
      "AWS_INCIDENTS_TOPIC_ARN": "${env:AWS_INCIDENTS_TOPIC_ARN}"
    events:
      - http:
          path: "/subscribe/sms"
          method: "post"
          cors: true
